/* 
    Created on : Feb 16, 2016, 10:47:46 AM
    Author     : Dominic Dambrogia
    Contact    : domdambrogia@gmail.com
*/

/* Margin */

.margin-none {
    margin: none;
}
.margin-top-none {
    margin-top: 0px;
}
.margin-bottom-none {
    margin-bottom: 0px;
}
.margin-left-none {
    margin-left: 0px;
}
.margin-right-none {
    margin-right: 0px;
}
.margin-xs {
    margin:10px;
}
.margin-sm {
    margin: 15px;
}
.margin-md {
    margin: 30px;
}
.margin-lg {
    margin: 50px;
}
.margin-top-sm {
    margin-top: 15px;
}
.margin-bottom-sm {
    margin-bottom: 15px;
}
.margin-left-sm {
    margin-left: 15px;
}
.margin-right-sm {
    margin-right: 15px;
}

.margin-top-xs {
    margin-top: 10px;
}
.margin-bottom-xs {
    margin-bottom: 10px;
}
.margin-left-xs {
    margin-left: 10px;
}
.margin-right-xs {
    margin-right: 10px;
}

.margin-top-md {
    margin-top: 30px;
}
.margin-bottom-md {
    margin-bottom: 30px;
}
.margin-left-md {
    margin-left: 30px;
}
.margin-right-md {
    margin-right: 30px;
}
.margin-top-lg {
    margin-top: 50px;
}
.margin-bottom-lg {
    margin-bottom: 50px;
}
.margin-left-lg {
    margin-left: 50px;
}
.margin-right-lg {
    margin-right: 50px;
}
.margin-top-xl {
    margin-top: 100px;
}
.margin-bottom-xl {
    margin-bottom: 100px;
}
.margin-left-xl {
    margin-left: 100px;
}
.margin-right-xl {
    margin-right: 100px;
}

/* Padding */

.padding-none {
    padding: none;
}
.padding-sm {
    padding: 15px;
}
.padding-md {
    padding: 30px;
}
.padding-lg {
    padding: 50px;
}
.padding-top-sm {
    padding-top: 15px;
}
.padding-bottom-sm {
    padding-bottom: 15px;
}
.padding-left-sm {
    padding-left: 15px;
}
.padding-right-sm {
    padding-right: 15px;
}
.padding-top-md {
    padding-top: 30px;
}
.padding-bottom-md {
    padding-bottom: 30px;
}
.padding-left-md {
    padding-left: 30px;
}
.padding-right-md {
    padding-right: 30px;
}
.padding-top-lg {
    padding-top: 50px;
}
.padding-bottom-lg {
    padding-bottom: 50px;
}
.padding-left-lg {
    padding-left: 50px;
}
.padding-right-lg {
    padding-right: 50px;
}
/* alignment */

.vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.float-right {
    float: right !important;
}
.float-left {
    float: left !important;
}
.center {
    margin: 0 auto;
}

/* text */
.text-bold {
    font-weight: bold;
}
.text-italic {
    font-weight: italic;
}
.text-sm {
    font-size:90%;
}
.text-lg {
    font-size:120%;
}

/* Text-Element specific */
.h1-xl {
    font-size: 84px;
}
.h1-lg {
    font-size: 72px;
}
.h1-md {
    font-size: 64px;
}
.h1-sm {
    font-size: 56px;
}
.h1-xs {
    font-size: 48px;
}

/* COLORS */
.text-blue {
    color: #44688c !important;
}
.background-blue {
    background-color: #44688c !important;
}
.text-gold {
    color: rgb(230, 189, 47) !important;
}
.background-gold {
    background-color: rgb(230, 189, 47) !important;
}
.text-green {
    color: #b5d342 !important;
}
.background-green {
    background-color: #b5d342 !important;
}
.background-white {
    background-color:white !important;
}
.text-white {
    color: white !important;
}
.text-black {
    color: black;
}

.text-light-blue {
    color:#6098c3 !important;
}
.background-light-blue {
    background-color: #6098c3;
}