/* 
    This is a child theme for SHC. Bootstrap CSS rules will be overwritten here.
    Other custom css styles native to this website will be written here.

    Created on : Feb 16, 2016, 11:07:21 AM
    Author     : Dominic Dambrogia
    Contact    : domdambrogia@gmail.com
*/
h1,h2,h3,h4,h5,h6,p {
    font-family: 'Open Sans', sans-serif;
}

.font-thin {
    /* 300 is acceptable for google's open sans font */
    font-weight: 300;
}
.font-thick {
    /* 700 is acceptable for google's open sans font */
    font-weight:600;
}

.h2-lg {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 48px;
    line-height: 48px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.font-open-sans {
    font-family: 'Open Sans', sans-serif;
}
.font-josefin {
    font-family: 'Josefin Sans', sans-serif;
}
.font-radley {
    font-family: 'Radley', serif;
}

/* nav css */
.nav-item {
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    font-weight:700;
    color:white;
}
.nav-item:hover {
    color: #e6bd2f !important;
}

.navbar {
    height:150px;
}
.navbar-fixed-top {
    background-color: white;
}

.navbar-static-top {
    background-color: transparent;
}

.navbar-fixed-top > div > ul > li > a > p {
    color: #6098c3 !important;
}

.navbar-static-top > div > a > img {
    max-height:120px;
}
/* mobile menu */ 
@media screen and (max-width: 767px) {
    .navbar {
        background-color: white;
    }
    .navbar > div.float-right {
        float: left !important;
        padding-left:70px;
    }
    .nav-item {
        font-family: 'Open Sans', sans-serif;
        font-size:16px;
        font-weight:700;
        color:#6098c3;
    }
    #nav-logo {
        content:url("/imgs/nav-logo-blue.png");
    }
    
}
.navbar-toggle {
    margin-top:50px;
    margin-right:50px;
    background-color:white;
}
.navbar-toggle > span {
    background-color: #6098c3 !important;
}
ul.nav {
    padding-right:50px;
    float:right;
    margin-top:50px;
}
.navbar-header > a > img {
    max-height: 120px;
    margin-left:50px;
}

.nav-scrolled {
    height:140px;
}
footer {
    height:150px;    
}
/* contact page */
.contact-input {
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    font-weight: 700;
    color: #888;
    padding: 5px 20px;
    text-transform: uppercase;
    background: #e3e3e3;
    border: none;
    border-radius: 0px;
}

.contact-input:focus {
    border:none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #5e93bd !important;
    color: white;
}

.contact-p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #565656;
}
#contact-map {
    width: 100%;
    min-height: 500px;

}
label {
    color: #565656;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-bottom:10px;
}

/*css for ABOUT, CONTACT & JOBS */
.business-header {
    height: 400px;
    background: url('/imgs/about-header.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.img-center {
    margin: 0 auto;
}
#testimonials {
    background-image: url(/imgs/testimony-pattern.png);
    opacity: 1;
    background-size: 5px;
    background-attachment: scroll;
    height: 700px;
}
.testimonial-quote {
    font-style: italic;
    font-weight: 400;
    font-family: 'Radley', serif;
    font-size: 24px;
    line-height: 36px;
    color: white;
    text-align: center;
    height: 300px;
}
#slider {
    min-height: 500px;
}
.help_p {
    font-size: 120%;
    font-weight: 500;
}
.personal_care_ul {
    color: #565656;
}